.activeTabItem {
  height: 10px;
  width: 100px;
  background-color: white;
  border-width: 0px;
  font-size: 10px;
}
.card {
  display: flex;
  flex-direction: row;
}
.dish-image {
  height: 100px;
  width: 70px;
}
.dish-heading {
  font-size: 13px;
}
